@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body{
    background: rgb(228, 147, 142);
    font-family: 'Fredoka', 'Sans-serif';
}

button {
    font-family: 'Fredoka', 'Sans-serif';
}


.randomClassGen { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 15%;
}

.clickMeButton {
    display: flex;
    align-items: center;
    justify-content: center
    
}

.randomizeClassButton, .randomizeSpecButton,.imgLogo:hover {
    cursor: pointer;
}

.randomizeClassButton, .randomizeSpecButton {
    border-radius: 10%;
    
}



